.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squareRow {
    display: flex;
}

.square{
    border: 1px solid black;
    width:200px;
    height: 200px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size:100px;
}

#xButton, #oButton{
    width: 50px; 
    cursor: pointer;
}


