body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: black;
    font-size: 5vmin;
    font-weight: bold;
}

.title span{
    color:black;
    font-size: 3vmin;
    font-style: italic;
}

*{
    box-sizing: border-box; /*key sa pagsame ng size kada box*/
    margin: 0;
    padding: 0;
}

.board{
    min-width: 80.5vmin; /*need kasi may wrap tayo.. (10*8)+0.25+0.25 = 80.5*/
    max-width: 80.5vmin; /*need kasi may wrap tayo*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 0.25vmin solid;
}

    .box1 {
        width: 10vmin;
        height: 10vmin;
        border: 0px solid;
        text-align: center;
        background-color: rgb(194, 192, 173);
        font-weight: bold;
        font-size: 8vmin;
    }
    .box2 {
        width: 10vmin;
        height: 10vmin;
        border: 0px solid;
        text-align: center;
        background-color: green;
        font-weight: bold;
        font-size: 8vmin;
    }

    span {
        color: white;
        animation-name: sample;
        animation-duration: 4s;
    }

       /* @keyframes sample {
            from {color: white;}
            to {color: red;}
        }*/
    